.container{
    background-color: white;
    width: 1080px;
    margin: 0 auto;
}

.page{
    background-image: url(img/pattern.png);
    background-size: contain;

}

#logo{
    width: 300px;
    height: 30%;
}

.main-title{
    font-size: 38px;
    box-sizing: border-box;
    margin: 0;
}

.info-article{
    font-style: normal;
    color: rgb(107, 104, 104);
}

a{
    color: rgb(49, 179, 222);
}

.title-address{
    margin-bottom: 20px;
}

.coloured-text{
    background-color: yellow;
}

.voices{
   text-align: left;
}




