.container{
    background-color: white;
    max-width: 1080px;
    margin: 0 auto;
}

.page{
    background-image: url(../img/img/pattern.png);
    background-color: rgb(82, 159, 237);
    height: 90px;
    width: 1080px;
    background-size: contain;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#logo{
    
    width: 20%;
}

.main-title{
    font-size: 38px;
    box-sizing: border-box;
    margin: 0;
}

.info-article{
    font-style: normal;
    color: rgb(107, 104, 104);
}

a{
    color: rgb(49, 179, 222);
}

.title-address{
    margin-bottom: 20px;
}

.coloured-text{
    background-color: yellow;
}

.list{
   width: 100%;
   box-sizing: border-box;
}

.voices{
    text-align: left;
    display: inline-block;
    padding-right: 180px;
    margin-bottom: 20px;
    list-style-position: outside;
}

.lorem-table{
    text-align: left;
    width: 100%
    
    padding: 0;
    border-spacing: 0;
}

.head-table{
    background-color: rgb(82, 159, 237);
}

.upper-body,
.lower-body{
    background-color: rgb(146, 219, 242);
}

.main-row{
    width: 25%;
    
}

.suggestion{
    color: rgb(90, 88, 88);
    font-size: 20px;
}

.desk,
.screen{
    color: white;
}

.desk{
    background-image: url(../img/img/monitor.jpg);
    width: 312px;
    height: 208px;
    margin-bottom: 10px;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.screen{
    background-image: url(../img/img/graph.jpg);
    width: 312px;
    height: 208px;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
}
